# Enable/Disable Error Displays and Logging
#php_flag    display_errors  On
#php_flag    log_errors      On
#php_value   error_reporting -1
#php_value   error_log       /error.log

# Redirect to error pages
#ErrorDocument 404 /views/404.php
#ErrorDocument 500 /views/500.php

# Disable directory browsing
Options Indexes FollowSymLinks

# Set the default page
DirectoryIndex index.php index.html

# Rewrite all requests to index
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/ [L]

