# Disable directory browsing
#Options -Indexes

# Set the default page
#DirectoryIndex index.html index.php

# Redirect www to non-www
#RewriteEngine On
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^(.*)$ http://capstone.local/$1 [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.capstone\.local [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

