# Enable/Disable Error Displays and Logging
php_flag    display_errors on
php_flag    log_errors  on
php_value   error_reporting -1
php_value   error_log   /error.log

# Redirect to error pages
ErrorDocument 404 views/404.php
ErrorDocument 500 views/500.php

# Disable directory browsing
Options -Indexes

# Set the default page
DirectoryIndex index.php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^(capstone.)?surfturkey.net
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(capstone.)?surfturkey.net
RewriteRule ^(/)?$ public/index.php [L]


