#signup-body {
}

header {
	flex: 1;
}
main {
	flex: 1 0 calc(100% - 25vh);
}

.input-field {
	margin: 8px 0 0 0;
}

.input-error {
	color: rgb(185, 28, 28);
}
.input-success {
	color: var(--primary-light);
}
#input-container > span {
	font-size: 0.8rem;
}
#input-container > label {
	margin: 4px 0 0 0;
}